*{
    margin:0;
    padding:0;
}
body{
    font-family: 微软雅黑;
    font-size: 12px;
    color: #777;
    background-color: #eee;
    overflow-x:hidden;
}
.main{
    width:1000px;
    margin:0 auto;
}
ul{
    list-style:none;
}
a{
    text-decoration:none;
    color:#777;
}
.clearfix::after{
    clear:both;
    display:block;
    content:'';
    visibility:hidden;
    height:0;
}
/*头部*/
.header{
    width:100%;
    background-color: #fff;
}
.header .headerTop{
    height:80px;
}
.headerTop .headerTopLogo{
    width:260px;
    height:60px;
    float:left;
}
.headerTop .headerTopLogo a{
    display:inline-block;
    width:260px;
    height:80px;
    margin-top:10px;
    background:url(../img/logo.jpg) no-repeat;
}
/*头部导航栏*/
.headerTop .headerTopNav{
    float:right;
    margin-top:30px;
}
.headerTop .headerTopNav li{
    float:left;
}
.headerTop .headerTopNav a{
    font-size:18px;
    color:#333;
    height:40px;
    display:inline-block;
    padding:0 8px;
    margin:0 5px;
}
.headerTop .headerTopNav a.on,.headerTop .headerTopNav a:hover{
    color:#5AD0C2;
}
.header .headerImg{
    width:100%;
    height:265px;
    background:url(../img/banner_top.jpg) no-repeat center top;
    overflow:hidden;
}
.headerImg .underWrite{
    margin:50px;
}
.headerImg .underWrite p{
    font-size:14px;
    line-height:25px;
    text-shadow:2px 2px 0 rgba(90,208,194,0.8);
}
/*中部*/
.middle{
    width:100%;
}
.middle .midCon{
    margin-top:30px;
    margin-bottom:20px;
}
/*中部主体*/
.middle .midCon .conLeft{
    width:732px;
    float:left;
    padding:10px 20px;
    background-color:#fff;
    box-shadow:4px 4px #DBDBDB;
    -moz-box-shadow:5px 5px #DBDBDB;
}
/*首页置顶文章*/
.conLeft .conFirst{
    height:210px;
}
.conLeft .conFirst a.title{
    font-size:16px;
}
.conLeft a{
    color:#5AD0C2;
}
.conLeft .conNav p{
    line-height:40px;
}
/*首页缩略文章*/
.midCon .conLeft .conItem{
    height:120px;
    background:url(../img/bg-diag.png) repeat-x left top;
    overflow:hidden;
    padding:20px 0;
}
/*侧边栏*/
.midCon .conRight{
    width:200px;
    height:200px;
    float:right;
}
/*首页缩略文章头信息*/
.conLeft .conItem .conItemLeft{
    width:120px;
    float:left;
    height:120px;
    line-height:30px;
    text-indent:30px;
}
.conLeft .conItemLeft .date{
    background:url(../img/item-meta.png) no-repeat 0 8px;
}
.conLeft .conItemLeft .likes{
    background:url(../img/item-meta.png) no-repeat 0 -192px;
}
.conLeft .conItemLeft .view{
    background:url(../img/item-meta.png) no-repeat 0 -48px;
}
.conLeft .conItemLeft .author{
    background:url(../img/item-meta.png) no-repeat 0 -150px;
}
.middle .conLeft a.readmore{
    display:inline-block;
    font-size:12px;
    line-height:30px;
    color:#fff;
    padding:0 10px;
    float:right;
    background-color:#5AD0C2;
}
/*首页缩略文章右侧*/
.conLeft .conItem .conItemRight{
    float:left;
    width:590px;
    height:120px;
    padding:0 10px;
    border-left:solid 2px #eee;
}
.conLeft .conItemRight p{
    text-indent:24px;
    line-height:25px;
}
/*关于我的文章*/
.midCon .conLeft .me_conItem{
    padding:20px 0;
    background:url(../img/bg-diag.png) repeat-x left top;
}
.midCon .conLeft p{
    line-height:30px;
    text-indent:24px;
    margin:10px;
}
/*文章详细页面*/
.conLeft .singleDetail{
    background:url(../img/bg-diag.png) repeat-x left top;
    padding:10px;
}
.conLeft .singleDetail h3{
    color:#333;
    text-align:center;
    font-size:22px;
    margin:20px 0;
}
.conLeft .singleDetail .add{
    padding:5px 0;
    border:#ccc 1px dashed;
    text-align:center;
}
.conLeft .singleDetail .add span{
    margin:0 10px;
}
.conLeft .singleDetail .singleMain{
    margin-top:20px;
}
.conLeft .singleDetail p{
    line-height:25px;
    text-indent:24px;
    font-size:14px;
}
/*上下篇链接*/
.conLeft .before,.middle .conLeft .next{
    text-align:center;
    margin:20px 0;
    border:dashed 1px #ccc;
    padding:3px 0;
}
/*文章评论区*/
.conLeft .disContent{
    background: url(../img/bg-diag.png) repeat-x left top;
    padding:10px;
}
.disContent .message{
    margin-bottom:20px;
}
.conLeft .disContent .message h3{
    margin:10px;
}
.conLeft .disContent .mesLog{
    display:inline-block;
    line-height:25px;
}
.conLeft .disContent  s{
    display:inline-block;
    height:16px;
    width:15px;
    padding:0 3px;
    background:url(../img/mes.png) no-repeat;
}
.conLeft .disContent .a1 s{
    background-position:0 -192px;
}
.conLeft .disContent .a2 s{
    background-position:0 -272px;
}
.conLeft .message  .a3 s{
    background-position:0 0;
}
.conLeft .disContent .a4 s{
    background-position:0 -32px;
}
.conLeft .disContent .a5 s{
    background-position:0 -96px;
}
.conLeft .disContent .a6 s{
    background-position:0 -368px;
}
.conLeft .disContent .a7 s{
    background-position:0 -208px;
}
.conLeft .disContent textarea{
    width:700px;
    height:100px;
    color:#777;
    border:solid 1px rgb(222,222,222);
    margin:10px;
}
.conLeft .disContent.bt{
    width:70px;
    height:35px;
    color:#fff;
    border:0;
    cursor:pointer;
    background-color:#5AD0C2;
    margin:10px;
    border-radius:5px;
}
.conLeft .disContent .disConItem{
    height:100px;
    border-bottom:solid 1px rgb(222,222,222);
    padding:0;
}
.conLeft .disConLeft{
    width:70px;
    height:70px;
    float:left;
    margin:10px;
}
.conLeft .disConLeft  img{
    width:70px;
    height:70px;
}
.conLeft .disConRight{
    float:left;
    margin:10px;
    width:600px;
}
.disConItem .disConRight .disName{
    margin:0 0 10px 0;
}
.disConItem .disConRight .disName a{
    line-height:20px;
}
.disConItem .disConRight .disMain{
    margin:0 0 10px 0;
}
/*分页*/
.midCon .conLeft .page{
    height:40px;
    margin-top:20px;
    text-align:center;
}
.midCon .conLeft .page a{
    width:28px;
    height:28px;
    text-align:center;
    line-height:28px;
    color:#F33;
    border-radius:50%;
    display:inline-block;
    border:solid 1px #333;
}
.midCon .conLeft a.total{
    color:#777;
}
.midCon .conLeft a.on,.midCon .conLeft .page a:hover{
    background-color:#333;
    color:#fff;
}
/*中部右侧*/
.conRight .search{
    border:solid 1px #DCDCDC;
    background-color: #fff;
}
.conRight .search .input{
    height:25px;
    border:0;
    float:left;
    line-height:25px;
    text-indent:5px;
}
.conRight .search .txt{
    width:148px;
    color:#777;
}
.conRight .search .btn{
    color:#fff;
    width:50px;
    background-color:#A2A7A0;
    cursor:pointer;
}
.conRightMain{
    margin:8px 0;
    background:#fafafa url(../img/list-bg.png) no-repeat left top;
    overflow:hidden;
}
.midCon .hot{
    margin-top:15px;
}
.conRight .conRightTitle{
    padding:10px;
    height:20px;
    line-height:30px;
}
.conRight .conRightTitle h2{
    font-size:16px;
}
.midCon .conRight .conRightCon{
    padding:0 10px;
    background:#fff;
}
.conRight .conRightCon li{
    line-height:23px;
}
/*热门文章*/
.conRight .hot li{
    background:url(../img/hot.jpg) no-repeat;
    text-indent:25px;
}
.conRight .hot .hot1{
    background-position:0 4px;
}
.conRight .hot .hot2{
    background-position:0 -27px;
}
.conRight .hot .hot3{
    background-position:0 -58px;
}
.conRight .hot .hot4{
    background-position:0 -89px;
}
.conRight .hot .hot5{
    background-position:0 -120px;
}
.conRight .hot .hot6{
    background-position:0 -151px;
}
.conRight .hot .hot7{
    background-position:0 -181px;
}
.conRight .hot .hot8{
    background-position:0 -213px;
}
.conRight .hot .hot9{
    background-position:0 -245px;
}
.conRight .conRightCon li:first-Child a{
    color:red;
}
.conRight .conRightCon a:hover{
    color:#5AD0C2;
    text-decoration:underline;
}
/*最新文章*/
.conRight .recently li{
    text-indent:10px;
    background:url(../img/new.jpg) no-repeat left center;
    border-bottom:dotted 2px #eee;
}
.conRight  .friLink a{
    display:inline-block;
    width:90px;
    height:23px;
    float:left;
    text-align:center;
}
/*回到顶部*/
.middle .toTop{
    width:54px;
    height:56px;
    position:fixed;
    bottom:20px;
    right:20px;
    border-radius:6px;
    background:#333 url(../img/icons.png) no-repeat 13px -365px;
    cursor:pointer;
    display:none;
}
/*尾部*/
.footer{
    width:100%;
    background-color: #fff;
}
.footer .main{
    padding:5px 0;
}
.footer .main p{
    line-height:20px;
    text-align:center;
}